// Button Effects
$color-1: #868e96;
$color-2: #dee2e680;
$color-3: #242424;
$color-4: #dee2e6;
$color-5: #9c36b5;
$color-6: #1c7ed6;
$color-7: #495057;
$color-8: #fff;
$color-9: #c5f6fa;

$color-button-1: #cc5de8;
$color-button-2: #845ef7;

$color-white: #f8f9fa;

$color-correct1: #ffe066;
$color-correct2: #94d82d;

$color-incorrect1: #fa5252;
$color-incorrect2: #f06595;

$color-input-1: #f06595;
$color-input-2: #fff0f6;
