@import "./../Base/values.scss";

.form {
  display: flex;
  justify-content: center;
  width: 100%;
  border: 2px solid $color-input-1;
  outline: 2px solid $color-input-2;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  position: relative;

  &-container {
    width: 90%;
  }

  &-header {
    position: absolute;
    top: -34px;
    left: -2px;
    background-color: $color-4;
    color: $color-3;
    padding: 4px 8px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  & > form {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
  }
}
